.title {
    width: 100%;
    text-align: center;
    color: #8aaeb8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px 20px 20px 20px;
}